* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background: #023e8a;
    padding-bottom: 25px;
    text-align: center;
}

#title {
    width: 250px;
    height: auto;
    background-color: #0077b6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    border: 2px solid #00b4d8;
    box-shadow: 12px 12px 2px 1px rgba(0, 119, 182, .5);
    text-align: center;
}
#title span {
    color: white;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

#alleWebseiten {
    width: 250px;
    height: auto;
    background-color: #0077b6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border: 2px solid #00b4d8;
    box-shadow: 12px 12px 2px 1px rgba(0, 119, 182, .5);
    color: white;
    text-align: center;
}
#alleWebseiten span:first-child {
    font-size: 25px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}
#links {
    margin-top: 25px;
}
#links ul {
    list-style-position: inside;
    font-size: 20px;
}
#links a {
    text-decoration: none;
    color: white;
}

#ereignisse {
    width: 250px;
    height: auto;
    background-color: #0077b6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border: 2px solid #00b4d8;
    box-shadow: 12px 12px 2px 1px rgba(0, 119, 182, .5);
    color: white;
    text-align: center;
}
#ereignisse span:first-child {
    font-size: 25px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}
#ereignisse #liste {
    margin-top: 25px;
}
#liste ol {
    list-style-position: inside;
    font-size: 15px;
}
#liste a {
    text-decoration: none;
    color: white;
}