* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background: #023e8a;
    padding-bottom: 50px;
    text-align: center;
}

#title {
    width: 250px;
    height: auto;
    background-color: #0077b6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    border: 2px solid #00b4d8;
    box-shadow: 12px 12px 2px 1px rgba(0, 119, 182, .5);
    text-align: center;
}
#title span {
    color: white;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

#filmeBox {
    width: 250px;
    height: auto;
    background-color: #0077b6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    border: 2px solid #00b4d8;
    box-shadow: 12px 12px 2px 1px rgba(0, 119, 182, .5);
    text-align: center;
}
#filmeBox #menu button {
    width: 100px;
    height: 25px;
    margin-top: 5px;
    border-radius: 10px;
    border: 2px solid #00b4d8;
    color: white;
    transition-duration: 0.4s;
}

#nichtGegucktBtn {
    font-size: 12px;
}
#nichtGegucktBox, #gegucktBox {
    width: 200px;
    height: auto;
    background-color: #0077b6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    border: 2px solid #00b4d8;
    text-align: center;
    color: white;
}

#preview {
    margin-top: 10px;
}
#preview img {
    height: 50%;
    width: 50%;
    border-radius: 10px;
    border: 2px solid white;
}

#filmDetails {
    width: 250px;
    height: auto;
    background-color: #0077b6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border: 2px solid #00b4d8;
    box-shadow: 12px 12px 2px 1px rgba(0, 119, 182, .5);
    text-align: center;
}
#filmDetails #backBtn button {
    width: 95%;
    height: 25px;
    border-radius: 10px;
    background: #0096c7;
    border: 2px solid #00b4d8;
    color: white;
    transition-duration: 0.4s;
}
#filmDetails #filmImg img {
    height: 75%;
    width: 75%;
    border-radius: 10px;
    border: 2px solid white;
    margin-top: 10px;
}
#filmDetails #filmTitle {
    color: white;
    font-size: 25px;
    text-decoration: underline;
}
#filmDetails #platform, #dauer, #altersfreigabe, #veröffentlichungsdatum, #kategorie, #gegucktDatum {
    color: white;
    font-size: 15px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
}